node_modules/
other/
.vs/
.idea/
*.iml
/rethinkdb_data/
coverage/
dist/
.env

dist/
bwd/


**/*.js.map
**/*.d.ts
!src/**/*.d.ts
**/*.tsbuildinfo

*.heapsnapshot
*.log

package-lock.json
heroku_push.bat
heroku_log.bat
